<html>
   <body style="background-color:LightGray;">
      <center>
      <h3 style="background-color:DodgerBlue;">VERY VULNERABLE SERVERLESS APPLICATION</h3>
      <h3>This application is still in beta, developers left the organisation due to financial crunch. Few endpoints are still in development.</h3>
      <h3>As a security engineer find the endpoints and retrieve the flag</h3>
      
       <h3>Enter your name below to get started.</h3>
      <form action = "/dev\/login" method = "post">


<p>Enter Name:</p>
<p><input type = "text" name = "name" /></p>
<p><input type = "submit" value = "submit" /></p>


      </form>
      </center>
   </body>
</html>
